*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    font-family: 'Montserrat', sans-serif;
}

#principal{
    background: #eee;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    height: 100%;
    max-width: 340px;
    width: 100%;
}

h1{
    color: #5b32ce;
    font-weight: bold;
    margin-bottom: .6rem; 
}

p{
    font-size: .9rem;
}

#form {
    margin-top: 2rem;
}

.input {
    padding: .6rem;
    margin: .4rem 0;
    width: 100%;
    border-radius: 5px;
    border-bottom: #5b32ce solid 2px;
}

.container-create {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.request{
    text-decoration: none;
    color: #5b32ce;
    font-size: .9rem;
}

.submit {
    padding: .6rem 5rem;
    background: #5b32ce;
    border-radius: 15px;
    font-size: 1rem;
    color: #eee;
    font-weight: bold;
    margin: 2rem;
    transition: 1s;
    cursor: pointer;
}

.submit:hover{
    background: #693ae9;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.btn{
    width: 100%;
    padding: .4rem 1rem;
    background: #5b32ce;
    border-radius: 15px;
    margin: .6rem ;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes {
    margin-right: .4rem;
}

@media screen and (max-width: 320px){
    
    #principal{
        width: 300px;
    }

    p{
        text-align: center;
    }

}