*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: #5b32ce;
    font-weight: bold;
}

#principal{
    background: #eee;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 470px;
    height: 100%;
    max-width: 340px;
    width: 100%;
}

.call {
    text-align: center;
    margin: .6rem;
}

.input {
    padding: .6rem;
    margin: .6rem 0;
    width: 100%;
    border-radius: 5px;
}

.submit {
    padding: 1rem 5rem;
    background: #5b32ce;
    border-radius: 15px;
    text-transform: uppercase;
    color: #eee;
    font-weight: bold;
    margin-bottom: .6rem ;
    transition: 1s;
    cursor: pointer;
}

.submit:hover{
    background: #693ae9;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.btn{
    padding: .4rem 1rem;
    background: #5b32ce;
    border-radius: 15px;
    margin: .6rem 0;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes {
    margin-right: .4rem;
}

.request{
    text-decoration: none;
    color: #5b32ce;
}

@media screen and (max-width: 355px){
    
    #principal{
        width: 300px;
    }

    p{
        text-align: center;
    }

    .buttons{
        margin: 0;
    }
}